@import "./variable.sass";
@import "node_modules/bulma/bulma.sass";
@import "font-awesome/scss/font-awesome.scss";


.my-list-detail {
    list-style-type: circle;
    margin-left: 2em;
}

.my-header-section {
    border-bottom: 1px solid grey;
    margin:  0.1em;
    align-items: center;
}

.my-header-section > h3 {
    padding: 0;
    margin-bottom: 0 !important;
}

.my-header-section > div{
    padding: 0;
    vertical-align: baseline
}

.skill-title {
    padding: 0 0.4em;
}

.padding-wrapper {
    padding: 0 2em;
}

.my-tile {
    background: #fff;
}

.my-tile-background-1 {
    background: darken(white, 2%);
    border-bottom: 1px solid;
    border-color: darken(white, 6%);
}

.my-tile-background-2 {
    background: darken(white, 3%);
    border-bottom: 1px solid;
    border-color: darken(white, 8%);
}

.my-tile-skill {
    padding: 0 1em;
    padding-bottom: 2em;
}

.my-tile-skill h3 {
    border-bottom: 1px grey solid;
}

.my-tile-parent {
    margin-top: 5px !important;
    padding: 0 !important;
}

.my-tile-wrapper {
    margin: 0px 3px !important;
    box-shadow: 1px 1px 4px grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.my-tile figure {
    width: 120px;
    height: 120px;
    margin: auto;
}

.my-tile p {
    font-size: 0.6em;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.44em;
}
