@import "./variable.sass";
@import "node_modules/bulma/bulma.sass";
@import "font-awesome/scss/font-awesome.scss";


.my-game-project {
    .my-game-header {
        background-color: $primary;
        border-bottom: 2px solid;
        border-color: $secondary;
        h2 {
            color: $white;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        a {
            color: darken($white, 5%);
            margin-top: 5px;
            cursor: pointer;
            background-color: $primary !important;
            text-decoration: none;
        }
    }

    .my-game-image {
        background-color: lighten($primary, 5%);
        border-bottom: 2px solid;
        border-color: $secondary;
        img {
            width: 100%;
        }
        border-right: 2px solid;
        border-color: $secondary;
    }

    .my-game-description {
        background-color: lighten($primary, 5%);
        
        border-bottom: 2px solid;
        border-color: $secondary;
        color: $white;
        h3 {
            color: $white;
        }
    }
    strong {
        color: $white;
    }
}
