@import "./variable.sass";
@import "node_modules/bulma/bulma.sass";
@import "font-awesome/scss/font-awesome.scss";

.is-menu-active {
    background-color: darken($primary, 5%) !important;
}

.my-navbar {
    background-color: $primary;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;

    nav {
        background-color: $primary;
        h1 a {
            font-size: 1.35em;
            font-weight: bold;
            font-family: monospace;
            color: $white
        }
        .navbar-start a {
            color: $white
        }
        .navbar-start a:hover {
            background: darken($primary, 5%)
        }

        button {
            cursor: pointer;
            font-size: 1.1em;
            background-color: $primary;
            color: $white;
            border: none;
        }
    }
    
    .navbar-menu {
        background-color: $primary;
        a {
            background-color: $primary;
            color: $white;
        }
        a:hover{
            background: darken($primary, 5%)
        }
        .navbar-dropdown {
            background-color: $primary;
            a:hover {
                background: darken($primary, 5%);
                color: white;
            }
        }

    }
    
}




