@import "./variable.sass";
@import "node_modules/bulma/bulma.sass";
@import "font-awesome/scss/font-awesome.scss";


body {
    background-image: url("../images/full-bloom.png");
    min-height: 1000px;
}

.my-main-content {
    background: white;
    margin-bottom: 20px;
    min-height: 1000px; 
}

.my-header {
    padding-top: 100px !important;
}

.my-section {
    padding-bottom: 50px;
}
