@import "./variable.sass";
@import "node_modules/bulma/bulma.sass";
@import "font-awesome/scss/font-awesome.scss";


.my-showcase-project {
    .my-showcase-header {
        background-color: $primary;
        border-bottom: 2px solid;
        border-color: $secondary;
        h2 {
            color: $white;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        a {
            color: darken($white, 5%);
            margin-top: 5px;
            cursor: pointer;
            background-color: $primary !important;
            text-decoration: none;
        }
        a:hover {
            color: $white;
        }
    }

    .my-showcase-image {
        background-color: $primary;
        border-bottom: 2px solid;
        border-color: $secondary;
        img {
            // width: 800px;
        }
    }

    .my-showcase-description {
        background-color: $primary;
        color: $white;
        h3 {
            color: $white;
        }
    }
    strong {
        color: $white;
    }
}
